[flake8]
application-import-names = api,events,homepage,randoccasion,users
exclude = .git,__pycache__,venv,*/migrations/
import-order-style = google
inline-quotes = double
max-line-length = 79
verbose = 1