DJANGO_DEBUG=false
DJANGO_SECRET_KEY=fake
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_LANGUAGE_CODE=ru-RU
DJANGO_MEDIA=media_example
DJANGO_DB_NAME=example_db.sqlite3
DJANGO_DEFAULT_USER_IS_ACTIVE=false
DJANGO_MAIL=fake@example.com
DJANGO_MAX_AUTH_ATTEMPTS=5
DJANGO_EMAIL_HOST=smtp.yandex.ru
DJANGO_EMAIL_PORT=465
DJANGO_EMAIL_PASSWORD=YOUR_PASSWORD
TELEGRAM_BOT_TOKEN=YOUR_TG_TOKEN
YANDEX_MAPS_API_TOKEN=YOUR_YMAPS_TOKEN