DJANGO_DEBUG=false
DJANGO_SECRET_KEY=NOT_SECRET
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_LANGUAGE_CODE=ru-RU
DJANGO_MEDIA=media_example
DJANGO_DEFAULT_USER_IS_ACTIVE=false
DJANGO_STATIC_PATH=static_dev