<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Встречалки{% endblock %}</title>
    <link rel="icon" href='{% static "img/favicon.ico" %}' type="image/x-icon">
    <link href='{% static "bootstrap/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "css/styles.css" %}' rel="stylesheet">
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="header-container">
          {% include "includes/header.html" %}
        </div>
      </header>

      <main>
        <div class="container">
          {% block content %}
            <h1>{% translate "Содержимое страницы недоступно" %}</h1>
          {% endblock %}

          <div class="row justify-content-center">
              {% with request.resolver_match.view_name as view_name %}
                {% if view_name == 'homepage:homepage' %}
                  <div class="row justify-content-center">
                    <div class="col-9 col-md-6 col-xl-3 pt-5 text-center">
                      <img src="{% static 'img/racoon.jpg' %}" class="img-fluid rounded-4 shadow-sm" alt="{% translate 'Raccoon' %}">
                    </div>
                  </div>
                {% endif %}
              {% endwith %}
          </div>
        </div>
      </main>
      
      <footer>
        <div class="footer-container">
          {% include "includes/footer.html" %}
        </div>
      </footer>
    </div>
  </body>
</html>
