{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h2>{% translate "Мои друзья" %}</h2>

{% if friends %}
    <ul>
    {% for friend in friends %}
        <li>
            <strong><a href="{% url 'users:user_detail' friend.id %}">
                {{ friend.username }}
            </a></strong>
            <form method="post" action="{% url "users:remove_friend" friend.id %}">
                    {% csrf_token %}
                    <button type="submit" name="remove_friend" class="btn btn-sm btn-danger"
                    onclick="return confirm('Вы уверены, что хотите удалить {{ friend.username }} из друзей?')">
                    {% translate "Удалить из друзей" %}
                </button>
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p class="text-muted">{% translate "У вас пока нет друзей." %}</p>
{% endif %}

{% endblock %}
