{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<h2 align="center">{% translate "Мой профиль" %}</h2>
<p>{% translate "Аватарка:" %} </p>
{% if user.profile.image %}
<img src="{{ user.profile.get_image_300x300.url }}"
     class="rounded-circle me-3"
     alt="{{ user.username }}"
     style="width: 64px; height: 64px; object-fit: cover;">
{% else %}
<img src="{% static  'img/noavatar.jpg' %}" class="rounded-circle me-3" width="64" height="64"
     alt="{{ user.username }}">
{% endif %}
<p>{% translate "Ваше имя пользователя:" %} {{ user.username }}</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">{% translate "Сохранить" %}</button>
</form>
<hr>
<a href="{% url 'users:password_change' %}" class="btn btn-warning mt-3">
    {% translate "Сменить пароль" %}
</a>
<a href="{% url 'events:my_events_requests' %}" class="btn btn-info mt-3">
    {% translate "Заявки на мои события" %}
</a>
{% endblock %}
