{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<h2>{% translate "Профиль пользователя" %} {{ user.username }}</h2>
{% if messages %}
    <div class="mb-4">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
<div class="row">
    <div class="col-md-4">
        {% if user.profile.image %}
            <img src="{{ user.profile.get_image_300x300.url }}" class="img-fluid" alt="{{ user.username }}">
        {% else %}
            <img src="{% static  'img/noavatar.jpg' %}" width="300" height="300" class="img-fluid" alt="{{ user.username }}">
        {% endif %}
    </div>
    <div class="col-md-8">
        <p><strong>Email:</strong> {{ user.email }}</p>

        <p><strong>{% translate "Имя" %}:</strong>
            {% if user.first_name %}
                {{ user.first_name }}
            {% else %}
                <span class="text-muted fst-italic">{% translate "не указано" %}</span>
            {% endif %}
        </p>

        <p><strong>{% translate "Фамилия" %}</strong>
            {% if user.last_name %}
                {{ user.last_name }}
            {% else %}
                <span class="text-muted fst-italic">{% translate "не указано" %}</span>
            {% endif %}
        </p>

        <p><strong>{% translate "День рождения:" %}</strong>
            {% if user.profile.birthday %}
                {{ user.profile.birthday }}
            {% else %}
                <span class="text-muted">{% translate "не указано" %}</span>
            {% endif %}
        </p>

        <p><strong>{% translate "Интересы:" %}</strong>
            {% if user.profile.interests.count %}
                {% for interest in user.profile.interests.all %}
                    <span class="badge bg-primary me-1">{{ interest.name }}</span>
                {% endfor %}
            {% else %}
                <span class="text-muted fst-italic">{% translate "не указаны" %}</span>
            {% endif %}
        </p>
        <hr>

        {% if request.user.is_authenticated and request.user != user %}
    <div class="mt-3">

        {% if are_friends %}
            <span class="text-success fw-bold">
                {% translate "✓ Вы друзья" %}
            </span>

        {% elif sent_request %}
            <span class="text-warning">
                {% translate "Заявка отправлена" %}
            </span>

        {% elif received_request %}
            <a href="{% url 'users:accept_friend_request' received_request.id %}"
               class="btn btn-success btn-sm me-2">
               {% translate "Принять заявку" %}
            </a>

            <a href="{% url 'users:reject_friend_request' received_request.id %}"
               class="btn btn-danger btn-sm">
               {% translate "Отклонить" %}
            </a>

        {% else %}
            <a href="{% url 'users:send_friend_request' user.id %}"
               class="btn btn-primary btn-sm">
               {% translate "Добавить в друзья" %}
            </a>
        {% endif %}

    </div>
{% endif %}

    </div>
</div>
{% endblock %}
