{% extends 'base.html' %}
{% load i18n static %}

{% block content %}

<div align="center">
    <h1>Сервис "Встречалки"</h1>

    <table width="100%" border="0" cellpadding="10">
        <tr>
            <td colspan="2" align="center">
                <h2>Создавайте и находите интересные мероприятия</h2>
            </td>
        </tr>

        <tr>
            <td width="50%" valign="top">
                <h3>Что можно делать на сервисе:</h3>
                <ul>
                    <li><strong>Создавайте мероприятия</strong> - любые события и встречи</li>
                    <li><strong>Приглашайте друзей</strong> - делитесь своими ивентами</li>
                    <li><strong>Ищите мероприятия по интересам</strong> - находите то, что вам нравится</li>
                    <li><strong>Присоединяйтесь к событиям</strong> - участвуйте в интересных активностях</li>
                    <li><strong>Общайтесь с участниками</strong> - обсуждайте детали мероприятий</li>
                    <li><strong>Получайте уведомления</strong> - будьте в курсе всех событий</li>
                </ul>
            </td>

            <td width="50%" valign="top">
                <h3>Как это работает:</h3>
                <ol>
                    <li><strong>Регистрируйтесь</strong> на сайте</li>
                    <li><strong>Указывайте свои интересы</strong> в профиле</li>
                    <li><strong>Создавайте мероприятие</strong> или ищите существующие</li>
                    <li><strong>Приглашайте участников</strong> или присоединяйтесь сами</li>
                    <li><strong>Встречайтесь и общайтесь</strong> в реальной жизни</li>
                </ol>
            </td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <hr width="80%">
                <h3>Типы мероприятий, которые можно создать:</h3>

                <table width="90%" border="1" cellpadding="15">
                    <tr align="center">
                        <td><strong>Встречи друзей</strong></td>
                        <td><strong>Спортивные события</strong></td>
                        <td><strong>Тематические вечеринки</strong></td>
                        <td><strong>Образовательные мероприятия</strong></td>
                    </tr>
                    <tr align="center">
                        <td>Кино, кафе, прогулки</td>
                        <td>Футбол, йога, бег</td>
                        <td>Квизы, игры, праздники</td>
                        <td>Лекции, мастер-классы</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <h3>Почему выбирают "Встречалки":</h3>

                <table width="100%" border="0">
                    <tr>
                        <td align="center" width="33%">
                            <h4>👥 Сообщество</h4>
                            <p>Дружелюбное сообщество</p>
                            <p>Реальные встречи и знакомства</p>
                        </td>
                        <td align="center" width="33%">
                            <h4>🎯 По интересам</h4>
                            <p>Персональные рекомендации</p>
                            <p>Поиск по категориям</p>
                        </td>
                        <td align="center" width="33%">
                            <h4>📱 Удобство</h4>
                            <p>Простой интерфейс</p>
                            <p>Мгновенные уведомления</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <hr width="80%">

                <h3>Быстрый старт:</h3>

                <table width="80%" border="0">
                    <tr>
                        <td align="center">
                            <h4>Для новых пользователей:</h4>
                            <p>1. Зарегистрируйтесь</p>
                            <p>2. Заполните профиль</p>
                            <p>3. Укажите интересы</p>
                            <p>4. Найдите первое мероприятие</p>
                        </td>
                        <td align="center">
                            <h4>Для организаторов:</h4>
                            <p>1. Создайте мероприятие</p>
                            <p>2. Опишите детали</p>
                            <p>3. Пригласите участников</p>
                        </td>
                    </tr>
                </table>

                <br><br>
            </td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <hr width="80%">
                <p><small>Присоединяйтесь к пользователям, которые уже нашли новых друзей<br>
                    и интересные мероприятия через наш сервис "Встречалки"</small></p>
            </td>
        </tr>
    </table>
</div>

{% endblock %}