{% extends 'base.html' %}
{% load i18n static %}

{% block content %}

<div align="center">
    <h1>{% translate "Сервис «Встречалки»" %}</h1>

    <table width="100%" border="0" cellpadding="10">
        <tr>
            <td colspan="2" align="center">
                <h2>{% translate "Создавайте и находите интересные мероприятия" %}</h2>
            </td>
        </tr>

        <tr>
            <td width="50%" valign="top">
                <h3>{% translate "Что можно делать на сервисе:" %}</h3>
                <ul>
                    <li><strong>{% translate "Создавайте мероприятия" %}</strong> - {% translate "любые события и встречи" %}</li>
                    <li><strong>{% translate "Приглашайте друзей" %}</strong> - {% translate "делитесь своими ивентами" %}</li>
                    <li><strong>{% translate "Ищите мероприятия по интересам" %}</strong> - {% translate "находите то, что вам нравится" %}</li>
                    <li><strong>{% translate "Присоединяйтесь к событиям" %}</strong> - {% translate "участвуйте в интересных активностях" %}</li>
                    <li><strong>{% translate "Общайтесь с участниками" %}</strong> - {% translate "обсуждайте детали мероприятий" %}</li>
                    <li><strong>{% translate "Получайте уведомления" %}</strong> - {% translate "будьте в курсе всех событий" %}</li>
                </ul>
            </td>

            <td width="50%" valign="top">
                <h3>{% translate "Как это работает:" %}</h3>
                <ol>
                    <li><strong>{% translate "Регистрируйтесь" %}</strong> {% translate "на сайте" %}</li>
                    <li><strong>{% translate "Указывайте свои интересы" %}</strong> {% translate "в профиле" %}</li>
                    <li><strong>{% translate "Создавайте мероприятие" %}</strong> {% translate "или ищите существующие" %}</li>
                    <li><strong>{% translate "Приглашайте участников" %}</strong> {% translate "или присоединяйтесь сами" %}</li>
                    <li><strong>{% translate "Встречайтесь и общайтесь" %}</strong> {% translate "в реальной жизни" %}</li>
                </ol>
            </td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <hr width="80%">
                <h3>{% translate "Типы мероприятий, которые можно создать:" %}</h3>

                <table width="90%" border="1" cellpadding="15">
                    <tr align="center">
                        <td><strong>{% translate "Встречи друзей" %}</strong></td>
                        <td><strong>{% translate "Спортивные события" %}</strong></td>
                        <td><strong>{% translate "Тематические вечеринки" %}</strong></td>
                        <td><strong>{% translate "Образовательные мероприятия" %}</strong></td>
                    </tr>
                    <tr align="center">
                        <td>{% translate "Кино, кафе, прогулки" %}</td>
                        <td>{% translate "Футбол, йога, бег" %}</td>
                        <td>{% translate "Квизы, игры, праздники" %}</td>
                        <td>{% translate "Лекции, мастер-классы" %}</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <h3>{% translate "Почему выбирают «Встречалки»:" %}</h3>

                <table width="100%" border="0">
                    <tr>
                        <td align="center" width="33%">
                            <h4>{% translate "👥 Сообщество" %}</h4>
                            <p>{% translate "Дружелюбное сообщество" %}</p>
                            <p>{% translate "Реальные встречи и знакомства" %}</p>
                        </td>
                        <td align="center" width="33%">
                            <h4>{% translate "🎯 По интересам" %}</h4>
                            <p>{% translate "Персональные рекомендации" %}</p>
                            <p>{% translate "Поиск по категориям" %}</p>
                        </td>
                        <td align="center" width="33%">
                            <h4>{% translate "📱 Удобство" %}</h4>
                            <p>{% translate "Простой интерфейс" %}</p>
                            <p>{% translate "Мгновенные уведомления" %}</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <hr width="80%">

                <h3>{% translate "Быстрый старт:" %}</h3>

                <table width="80%" border="0">
                    <tr>
                        <td align="center">
                            <h4>{% translate "Для новых пользователей:" %}</h4>
                            <p>{% translate "1. Зарегистрируйтесь" %}</p>
                            <p>{% translate "2. Заполните профиль" %}</p>
                            <p>{% translate "3. Укажите интересы" %}</p>
                            <p>{% translate "4. Найдите первое мероприятие" %}</p>
                        </td>
                        <td align="center">
                            <h4>{% translate "Для организаторов:" %}</h4>
                            <p>{% translate "1. Создайте мероприятие" %}</p>
                            <p>{% translate "2. Опишите детали" %}</p>
                            <p>{% translate "3. Пригласите участников" %}</p>
                        </td>
                    </tr>
                </table>

                <br><br>
            </td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <hr width="80%">
                <p><small>{% translate "Присоединяйтесь к пользователям, которые уже нашли новых друзей" %}<br>
                    {% translate "и интересные мероприятия через наш сервис «Встречалки»" %}</small></p>
            </td>
        </tr>
    </table>
</div>

{% endblock %}